/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }


    /* HTML5 display-role reset for older browsers */

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
      display: block;
    }

@font-face {font-family:BB;
            src: url(bebasK.otf);}

@font-face {font-family:cdl;
            src: url(codel.otf);}

a{cursor:pointer;
text-decoration: none;}
/*laocoon*/
    #lacooncontainer
        {    float: left;
        width: 30%;
        margin-left: 35%;
        margin-top: 8%;}
    #lacoon{width:100%;}


    .mark{
    font-size: 5vw;
    color: white;
    font-family: BB;
    position: absolute;
    }

    #marker1{margin-left: 46%;}
    #marker2{    margin-left: 8%;
    margin-top: 34%;}
    .submark{    position: absolute;
    color: red;
    font-family: cdl;
    font-size: 2.15vw;
}

    #submarker1{    margin-left: 53%;
    margin-top: 3%;}
    #submarker2{margin-left: 15%;
    margin-top: 35%;}

    .prog{width: 10%;
        height: .35vw;
        background-color: #80FEFF;
        position: absolute;
        z-index: 100;}
    #bar    {
        margin-left: 42%;
        margin-top: 24%;
        }

    #trackingcontain{    
        position: absolute;
    width: 30%;
    height: 22%;
    opacity: 1;
    margin-left: 35%;
    margin-top: 8%;}

    #trackingbase{width: 100%;
        position: absolute;
        opacity: 0;}

    .tracking{border: solid .09vw white;
    width: 2vw;
    /* background-color: green; */
    position:fixed;
    height: 1vw;}

        #trk1{ margin-top: 35%;
            margin-left: 22%;
            width: 24%;
            height: 24%;
            position:absolute;
            -webkit-animation-name: trk1movement; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
            animation-name: trk1movement;
            animation-duration: 10s;
            animation-iteration-count: infinite;}


            @-webkit-keyframes trk1movement {
                0%   {    margin-top: 35%;
                        margin-left: 22%;
                        width: 24%;}
                25%  {        margin-top: 32%;
                        margin-left: 42%;
                        width: 8%;}
                50%  {margin-top: 49%;
                        margin-left: 55%;
                        width: 7%;}
                75% {            margin-top: 19%;
                        margin-left: 32%;
                        width: 15%;}

                100%   {    margin-top: 35%;
                        margin-left: 22%;
                        width: 24%;}
            }


            @keyframes trk1movement {
                0%   {    margin-top: 35%;
                        margin-left: 22%;
                        width: 24%;}
                25%  {        margin-top: 32%;
                        margin-left: 42%;
                        width: 8%;}
                50%  {margin-top: 49%;
                        margin-left: 55%;
                        width: 7%;}
                75% {            margin-top: 19%;
                        margin-left: 32%;
                        width: 15%;}

                100%   {    margin-top: 35%;
                        margin-left: 22%;
                        width: 24%;}
            }

        .tagclass{width: 8%;
            position:absolute;}
        
        #tag1{
            margin-left: 40%;
            margin-top: 21%;}







        #trk2{ margin-top: 35%;
            margin-left: 22%;
            width: 24%;
            height: 24%;
            position:absolute;
            -webkit-animation-name: trk1movement; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
            animation-name: trk2movement;
            animation-duration: 10s;
         animation-iteration-count: infinite;}


            @-webkit-keyframes trk2movement {
                0%   {    margin-top: 35%;
                        margin-left: 22%;
                        width: 24%;}
                35%  {        margin-top: 42%;
                        margin-left: 42%;
                        width: 8%;}
                50%  {margin-top: 49%;
                        margin-left: 55%;
                        width: 7%;}
                75% {            margin-top: 19%;
                        margin-left: 32%;
                        width: 15%;}

                100%   {    margin-top: 45%;
                        margin-left: 22%;
                        width: 24%;}
            }


            @keyframes trk2movement {
                0%   {    margin-top: 35%;
                        margin-left: 22%;
                        width: 24%;}
                35%  {        margin-top: 42%;
                        margin-left: 42%;
                        width: 8%;}
                50%  {margin-top: 49%;
                        margin-left: 55%;
                        width: 7%;}
                75% {            margin-top: 19%;
                        margin-left: 32%;
                        width: 15%;}

                100%   {    margin-top: 45%;
                        margin-left: 22%;
                        width: 24%;}
            }



@media screen and (max-width: 567px)and (max-height: 768px){
    body {
        background-color: lightgreen;}
    
    #trackingcontain{ 
    width: 50%;
    height:12%;}

        #lacooncontainer{
                width: 50%;}
    }




